

.social-btns .btn,
.social-btns .btn:before,
.social-btns .btn .fa {
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  -webkit-transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
          transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.social-btns .btn:before {
  top: 90%;
  left: -110%;
}
.social-btns .btn .fa {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}
.social-btns .btn.facebook:before {
  background-color: #3b5998;
}
.social-btns .btn.facebook .fab {
  color: #3b5998;
}
.social-btns .btn.twitter:before {
  background-color: #3cf;
}
.social-btns .btn.twitter .fab {
  color: #3cf;
}
.social-btns .btn.github:before {
  background-color: black;
}
.social-btns .btn.github .fab {
  color: black;
}
.social-btns .btn.linkedin:before {
  background-color: #0077b5;
}
.social-btns .btn.linkedin .fab {
  color: #0077b5;
}
.social-btns .btn.instagram:before {
  background-color: #e1306c;
}
.social-btns .btn.instagram .fab {
  color:#e1306c;
}
.social-btns .btn.medium:before {
  background-color: black;
}
.social-btns .btn.medium .fab {
  color:black;
}
.social-btns .btn.quora:before {
  background-color: #a82400;
}
.social-btns .btn.quora .fab {
  color:#a82400;
}
.social-btns .btn.dsc:before {
  background-color: #83e85a;
}
.social-btns .btn.dsc .fab {
  color: #83e85a;
}
.social-btns .dsc img{
  text-align: end;
  width: 35px;
  margin-top: auto;
  margin-bottom: 18px;
}
.social-btns .btn:focus:before,
.social-btns .btn:hover:before {
  top: -10%;
  left: -10%;
}
.social-btns .btn:focus .fab,
.social-btns .btn:hover .fab {
  color: #fff;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.social-btns {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  font-size: 0;
  text-align: center;
 
}
.social-btns .btn {
  display: inline-block;
  background-color: #fff;
  width: 90px;
  height: 90px;
  line-height: 90px;
  margin: 0rem 0rem 1rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 28%;
  box-shadow: 0 5px 15px -5px rgba(0,0,0,0.1);
  opacity: 0.99;
}
 #sendbutton .btn{
  display: inline-block;
  background-color: #fff;
  width: 120px;
  height: 50px;
  line-height: 45px;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 5px 15px -5px rgba(0,0,0,0.1);
  opacity: 0.99;
}
.social-btns .btn:before {
  content: '';
  width: 120%;
  height: 120%;
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.social-btns .btn .fa {
  font-size: 38px;
  vertical-align: middle;
}

.contact-heading p{
  z-index: 100;
  position: abolute;
  left: 3%;
  top:0px;
   font-size: 6vw;
 text-align: left;
 font-weight: bolder;
}

#contact-sec{
  display: flex;
  flex-direction: row;
}

#contact-column-1{
  padding-left: 8rem;
  padding-right: 8rem;
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: auto;
}



#contact-form{

    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
}


#contact-form .form-group{
    outline: none;
    width: 28rem;
    border:0 solid transparent;
    box-shadow: 0 5px 15px -5px rgba(0,0,0,0.1);
    border-color: #fff;
}
.wpv-filter-form .form-control{
  border:0;
}
.no-border{
  border: 0;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}



#main-poster-contact{
  margin: 2rem;
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}

#contact-input-area{
  padding-left: 0.8rem;
}

#sendbutton{
  display: block;
  margin-right: auto;
  margin-left: auto;

}






@media screen and (max-width: 600px) {

  
#contact-sec{
  display: flex;
  flex-direction: column;
}


#main-poster-contact{
  width: 100px;
  margin: 0;
  margin-top: 0;
  margin-bottom: 0;
}
  .contact-heading p{
    z-index: 100;
    position: abolute;
    left: 3%;
    top:10px;
     font-size: 40px;
   text-align: left;
   font-weight: bolder;
  }
 

  #contact-column-1{
    margin-top: 3rem;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0rem;
    padding-right: 0rem;
  }


  #contact-form{
    width: 80%;
    margin-left: 2rem !important;
}

 
.social-btns {
  display: grid;
  z-index: 1;
  width: 100%;
  height: 40%;
  padding: 0 3rem 0 3rem;
  margin-left: 0rem;
  grid-template-columns: repeat(4,1fr);
  font-size: 0;
  text-align: center;
 
}


.social-btns .btn {

  width: 70px;
  height: 70px;
  margin: 0rem 1rem 1rem 0;
  line-height: 60px;  text-align: center;

}


.social-btns .dsc img{
  text-align: end;
  width: 30px;
  margin-top: auto;
  margin-bottom: 0px;
}
#main-poster-contact{
  margin: 2rem;
  margin-top: auto;
  margin-bottom: auto;
}



#contact-form .form-group{
  margin-left: auto;
  margin-right: auto;
  outline: none;
  width: 80%;
  border:0 solid transparent;
  box-shadow: 0 5px 15px -5px rgba(0,0,0,0.1);
  border-color: #fff;
}

#contact-form .form-group input{
  display: block;
  margin-left: auto;
  margin-right: auto ;
}
#contact-column-2{
  visibility: hidden ;
}

#sendbutton{
    display: block;
    margin-left: auto;
    margin-right: auto !important;

 }
 
 
}