.mooc-heading {
  position: absolute;
  left: 1%;
  top: 0%;
}

.mooc-heading p {
  font-family: "Raleway", "Poppins";
  z-index: 100;
  font-size: 6vw;
  text-align: left;
  font-weight: bold;
}

#cert-sec {
  margin-top: -5rem;
  background-color: white;
  font-family: "Raleway", "Poppins";
  display: flex;
  flex-direction: row;
}

#cert-sec .catalog-sec {
  margin-top: auto;
  margin-bottom: auto;
}

#cert-sec .catalog-sec .card {
  height: 60px;
  width: 300px;
  font-size: 16px;
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  border: 0;
  outline: auto;
  transition: transform .3s;
}

#cert-sec .catalog-sec .card:hover {
  transform: scale(1.09);
  box-shadow: 0 6px 31px -2px rgba(0, 0, 0, 0.1);
}

#main-poster-certificate {
  z-index: 1;
  width: 25% !important;
  position: absolute;
  left: 0%;
  bottom: 0%;
}

#cert-sec .certificate-sec {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  border: 0;
}

#cert-sec .certificate-sec .card {
  display: block;
  margin: auto;
  margin-right: 4rem;
  border: 0;
  height: 69%;
  width: 90%;
  background-color: white;
}

#cert-sec .certificate-sec img {
  width: 100%;
}

#badges-sec {
  background-color: white;
}

.badges {
  margin: 10rem 5rem 2rem 5rem;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: repeat(2,1fr);
}

.badge-heading p {
  text-align: center;
  font-size: 3vmax;
}

.badges img {
  width: 200px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  box-shadow: 0 14px 26px rgba(0,0,0,0.04);
  transition: transform .3s;
 /* Animation */;
}

.badges img:hover {
  transform: scale(1.2);
}

.badges #orange-badge {
  filter: drop-shadow(0 0 0.75rem orangered);
}

@media screen and (max-width: 600px) {

  .mooc-heading p {
    font-family: "Raleway", "Poppins";
    font-size: 40px;
    text-align: left;
    font-weight: bold;
  }

  #cert-sec {
    width: 100%;
    height: 100%;
    margin-bottom: 4rem;
    background-color: white;
    font-family: "Raleway", "Poppins";
    display: flex;
    flex-direction: column-reverse;
  }

  #cert-sec .catalog-sec .card {
    height: 40px;
    width: 240px;
    font-size: 12px;
    box-shadow: 0 6px 31px -2px rgba(0, 0, 0, 0.1);
  }

  #main-poster-certificate {
    z-index: 1;
    width: 40%;
    position: absolute;
    left: 0%;
    bottom: 0%;
  }

  #cert-sec .certificate-sec {
    margin-bottom: auto;
    border: 0;
    margin-top: 10rem;
  }

  #cert-sec .certificate-sec .card {
    margin: auto;
    margin-right: auto;
    margin-left: auto;
    border: 0;
    height: 69%;
    width: 90%;
    background-color: white;
  }

  .badges {
    margin: 5rem 2rem 2rem 2rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
  }

  .badge-heading p {
    margin-top: 4rem;
    margin-left: 1rem;
    text-align: left;
    font-size: 40px;
    font-weight: bolder;
  }

  .badges img {
    width: 90px;
    display: block;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 0 14px 26px rgba(0,0,0,0.04);
    transition: transform .3s;
 /* Animation */;
  }
}