
.projects{
    display: grid;
    
    grid-template-columns: repeat(3,1fr);
    justify-content: space-between;
    padding: 1rem 18rem;
  }
  #project-anim1{
    z-index: 0;
    width: 20%;
    position: absolute;
    bottom: 0px;
    left: 0px;
  }
  #project-anim2{
    z-index: 0;
    width: 18%;
    position: absolute;
    top: 0px;
    right: 0px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  
  .card-title{
    z-index: 100;
  
    position: absolute;
    bottom: 5%;
    text-align: center;
    margin: 0.5rem;
    font-size: medium;
    font-weight: bolder;
  }
  
  
  .card-container {
     display: inline-block;
     margin: 0 auto;
     padding: 0 12px;
     perspective: 900px;
     text-align: center;
   }
   
   .projects .card {
     z-index: 1;
     position: relative;
     width: 250px;
     height: 310px;
     margin: 1rem;
     border-color: transparent;
     transition: all 1.2s ease;
     transform-style: preserve-3d;
   }
   .front, .back {
     position: absolute;
     display: flex;
     flex-direction: column;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     border-radius: 5px;
     box-shadow: 0 6px 31px -2px rgba(0, 0, 0, 0.1);
        backface-visibility: hidden;
   }
  
   .front {
     background: white;
     font-size: 12px;
   }
   .front img{
     position: absolute;
     top:15%;
     left:15%;
     width:70%;
   }
   .projects .front .tech-stack {
    position: absolute;
    top: 5%;
    right:10%
  }
  
  #pr-img-3{
    position: absolute;
     top:25%;
     left:15%;
     width:70%;
  }
  #pr-img-4{
    position: absolute;
     top:30%;
     left:15%;
     width:70%;
  }
  #pr-img-6{
    position: absolute;
     top:20%;
     left:15%;
     width:70%;
  }
  #pr-img-3{
    position: absolute;
     top:25%;
     left:15%;
     width:70%;
  }
  
   .projects .front .btn {
     z-index: 100;
    border: 1.5px solid black;
    margin: 0.5rem 0.2rem;
    border-radius: 100px;
    background-color: transparent;
    color: black;
    padding: 6px 10px;
    font-size: 10px;
    cursor: pointer;
  }
  
  
   .back {
     background: white;
     border-color: transparent;
     font-size: 14px;
   }
  
   .card-back-text{
     padding: 2rem;
     font-size: medium;
   }
   .card-back-buttons{
      
      position: absolute;
      left:25%;
      bottom: 5%;
   }
   .card-back-buttons i{
      margin: 0.8rem;
      transition: transform .3s; /* Animation */
  
   }
   .card-back-buttons i:hover{
    transform: scale(1.4);
  
   }
  
   .card-back-buttons {
  
    transition: all 1.2s ease;
  }
   
   .card-container:hover .card {
     transform: rotateY(180deg);
   }
   .back {
     transform: rotateY(180deg);
   }
   
  
  
  