.skills-heading p{
    
    z-index: 100;
    position: abolute;
    left: 3%;
    top:-50px;
   font-size: 6vw;
   text-align: left;
   font-weight: bolder;
  }
  
  #skill-sec .row{
    display: flex;
    flex-direction: row;
  }
  .primary-skills {
    margin: 0rem 0rem;
  }
  #prime-skill-card{
      border-radius: 15px;
      margin: 2rem 0rem 0rem 5rem;
      width: 70%;
      height: 450px;
      border:0;
      box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028),
    0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042),
    0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07)
  ;
  }
  .primary-skills .language{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-between;
  }
  
   .tools{
    display: flex;
    flex-direction: column;
  }
  

  #circleBar{
    margin: 0rem 1rem 0rem 1rem;
    text-align: center;
  }


  
  #circleBar .round strong{

    position: absolute;
    top: 65%;
    left: 50%;
    margin-top: -50px;
    transform: translate(-50%);
  
  }
  
  #circleBar span{
    display: block;
    color: #999;
    font-size: 17px;
    margin-top: 10px;
  }
  
  #circleBar span i{
    color: black;
    font-size: 22px;
    margin-right: 7px;
  }







  .secondary-skills {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    position: relative;
    top: -20px;
  }
  
  
  .secondary-skills .tools .card{
    margin: 1rem 0rem 1rem 0rem;
    width: 580px;
    height: 140px;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028),
    0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042),
    0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07)
  ;
  border-radius: 15px;
    border-color: white;
  }
  
  .tools-logo{
    margin: 0.5rem 0rem;
  }
  .tools-logo img , i{
    margin: 0rem 1rem;
  }
  
  
  #sql-logo{
    width: 10%;
  }
  #colab-logo{
    width: 15%;
  }
  #colab-logo{
    width: 15%;
  }
  #pytorch-logo{
    width: 7%;
  }
  #mathplotlib-logo{
    width: 20%;
  }
  
  
  #gcd-logo{
    position: absolute;
    top:-8px;
  }
  
  
  
  
  

  @media screen and (max-width: 600px) {
    .skills-heading p{
      margin: 1rem 0 0 2rem;
      position: abolute;
      left: 3%;
      top:0px;
      font-size: 40px;
      text-align: left;
      font-weight: bolder;
    }
   

    
   
    #skill-sec .row{
      display: flex;
      flex-direction: column;
    }
    
    .primary-skills .language{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      justify-content: space-between;
    }


    
    #prime-skill-card{
      margin: 1rem 0rem 0rem 1.6rem;
      border-radius: 15px;
      width: 90%;
      height: 450px;
      
    } 
    
    #circleBar{
      margin: 0rem 0rem 0rem 0rem;
      text-align: center;
    }

    .secondary-skills {
      display: flex;
      flex-direction: column;
     
      position: relative;
      top: 10px;
    }

    .secondary-skills h4{
      font-size: medium;
    }
 
    .tools-logo{
      margin: 0.2rem 0rem;
    }
    .tools-logo #colab-logo{
      visibility: hidden;
    }
    .secondary-skills .tools .card{
      width: 95%;
      height: 140px;
    }
    .secondary-skills .web-tools .tools-logo img{
      width: 70px;
    }
    .secondary-skills .ml-tools .tools-logo img{
      width: 30px;
    }

  }