
.cover {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  transition: opacity 0.3s ease-in-out;
}
/* ------------- */
.sub-menu {
  position: absolute;
  top: 20px;
  left: 20px;
  height: 46px;
  width: 46px;
}

.sub-menu-link {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1002;
}

.sub-menu-icon {
  position: absolute;
  width: 30px;
  height: 20px;
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 1px;
}

/* ------------- */
.menu-bar {
  background-color: #fff;
  height: 4px;
  width: 100%;
  position: absolute;
  left: 0;
  transition: all 0.25s ease-in-out;
}
.menu-bar-2 {
  top: 0;
  bottom: 0;
  margin: auto;
}
.menu-bar-3 {
  bottom: 0;
}

.sub-menu.open .menu-bar-1 {
  transform: translateY(10px) translateY(-50%) rotate(-45deg);
}
.sub-menu.open .menu-bar-2 {
  opacity: 0;
}
.sub-menu.open .menu-bar-3 {
  transform: translateY(-10px) translateY(50%) rotate(45deg);
}
.sub-menu.open .menu-bar-4 {
  opacity: 0;
}


/* ------------- */
.sub-menu-circle {
  background-color: tomato;
  position: absolute;
  transform: scale(1);
  z-index: 1000;
  transition: transform 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out;
}
.sub-menu.open .sub-menu-circle {
  transform: scale(2);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* ------------- */
.sub-menu-overlay {
  color: #333;
  width: 50vw;
  height: 100vh;
  position: fixed;
  text-align: center;
  transition: opacity 0.3s ease-in-out;
  z-index: 1001;
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sub-menu-overlay.open {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease-in-out;
}
.sub-menu-list {
  margin-bottom: 2rem;
  list-style: none;
}
.sub-menu-list li {
  margin: 1.5em;
}
.sub-menu-list li a {
  color: #fff;
  font-size: 1.5em;
  fontweight: 700;
  text-align: center;
  position: abusolute;
  top:0;right:0;bottom:0;left:0;
  margin: auto;
  transition: all 0.1.25s ease;
  text-decoration: none;
}
.sub-menu-list li a:hover {
  border-bottom: 3px solid #fff;
}
