#home-sec{
  background-color: #00d1ff;
}








/* skills sec */

#skill-sec{
  background-color: lightsalmon;
}

.primary-skills .language{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  justify-content: space-between;
}














#projects-sec{
  background-color: #74f9ff;
}
#cp-sec{
  background-color: lightgreen;
}
#experience-sec{
  background-color: lightpink;
}
#mooc-sec{
  background-color: peru;
}
#badges-sec{
  background-color: skyblue;
}