#home-sec{
  background-color: #00d1ff;
}


#skill-sec{
  background-color: #f3558e;
}

#container {
  margin: 20px;
  width: 200px;
  height: 200px;
  position: relative;
}


















#projects-sec{
  background-color: #74f9ff;
}
#cp-sec{
  background-color: lightgreen;
}
#experience-sec{
  background-color: lightpink;
}
#mooc-sec{
  background-color: peru;
}
#badges-sec{
  background-color: skyblue;
}