:root {
  --shadow-color: 0px 10px 30px rgba(1, 1, 2, 0.3);
  --box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
  --gradient-1: linear-gradient( 135deg, #FFD3A5 10%, #FD6585 100%);
/*   --gradient-2: linear-gradient(214deg, #8EE2F1 0%, #CDFEDF 55%); */
  --gradient-2: linear-gradient(315deg, #8EC5FC 0%, #E0C3FC 100%);
  --gradient-3: linear-gradient(210deg, #74EBD5 0%, #f7e8ad 100%);
}

body{
  font-family: "Raleway", "Poppins";
}

#home-sec{
  z-index: 0;
  background-color: yellow;
  font-family: "Raleway", "Poppins";
}
.av-img{
  height: 400px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow:
  0 2.9px 1.9px rgba(0, 0, 0, 0.02),
  0 7px 4.1px rgba(0, 0, 0, 0.028),
  0 13.1px 7.2px rgba(0, 0, 0, 0.035),
  0 23.5px 13.3px rgba(0, 0, 0, 0.042),
  0 43.9px 28.5px rgba(0, 0, 0, 0.05),
  0 105px 80px rgba(0, 0, 0, 0.07)
;


}

.home{

 padding: 5rem;
}
.avatar-area{
  text-align: center;
}


.hover-in{
	transition: .3s ease-out;
}
.hover-out{
	transition: .3s ease-in;
}

#name{

  font-size: 6vw;
  font-weight: bolder;

}


/* Intro TypeIt.js */ 

.myelement{
 font-size: xx-large;
 font-weight: 500;

}







/* skills sec */

#timeline-sec{
  background-color: #28c7fa;
  font-family: "Raleway", "Poppins";

}







/* skills sec */

#skill-sec{
  background-color: white;
  font-family: "Raleway", "Poppins";

}
.skills-heading p{
  margin: 1rem 0 0 3rem;
 font-size: 6vw;
 text-align: left;
 font-weight: bolder;
}

.primary-skills {
  margin: 5rem 2rem;
}

.primary-skills .language{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  justify-content: space-between;
}
 .tools{
  display: flex;
  flex-direction: column;
}

.secondary-skills {
  margin-left: 2rem;
}

.tools-logo{
  margin: 1rem 2rem;
}
.tools-logo img , i{
  margin: 0rem 1rem;
}












/*   project sec */

#projects-sec{
  background-color: skyblue;
}

.projects{
  display: grid;
  
  grid-template-columns: repeat(3,1fr);
  justify-content: space-between;
  padding: 1rem 18rem;
}
#project-anim1{
  z-index: 0;
  width: 20%;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
#project-anim2{
  z-index: 0;
  width: 18%;
  position: absolute;
  top: 0px;
  right: 0px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.card-title{
  z-index: 100;

  position: absolute;
  bottom: 5%;
  text-align: center;
  margin: 0.5rem;
  font-size: medium;
  font-weight: bolder;
}


.card-container {
   display: inline-block;
   margin: 0 auto;
   padding: 0 12px;
   perspective: 900px;
   text-align: center;
 }
 
 .projects .card {
   z-index: 1;
   position: relative;
   width: 250px;
   height: 310px;
   margin: 1rem;
   border-color: transparent;
   transition: all 1.2s ease;
   transform-style: preserve-3d;
 }
 .front, .back {
   position: absolute;
   display: flex;
   flex-direction: column;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   border-radius: 5px;
   box-shadow: 0 6px 31px -2px rgba(0, 0, 0, 0.1);
      backface-visibility: hidden;
 }

 .front {
   background: white;
   font-size: 12px;
 }
 .front img{
   position: absolute;
   top:15%;
   left:15%;
   width:70%;
 }
 .projects .front .tech-stack {
  position: absolute;
  top: 5%;
  right:10%
}

#pr-img-3{
  position: absolute;
   top:25%;
   left:15%;
   width:70%;
}
#pr-img-4{
  position: absolute;
   top:30%;
   left:15%;
   width:70%;
}
#pr-img-6{
  position: absolute;
   top:20%;
   left:15%;
   width:70%;
}
#pr-img-3{
  position: absolute;
   top:25%;
   left:15%;
   width:70%;
}

 .projects .front .btn {
   z-index: 100;
  border: 1.5px solid black;
  margin: 0.5rem 0.2rem;
  border-radius: 100px;
  background-color: transparent;
  color: black;
  padding: 6px 10px;
  font-size: 10px;
  cursor: pointer;
}


 .back {
   background: white;
   border-color: transparent;
   font-size: 14px;
 }

 .card-back-text{
   padding: 2rem;
   font-size: medium;
 }
 .card-back-buttons{
    
    position: absolute;
    left:25%;
    bottom: 5%;
 }
 .card-back-buttons i{
    margin: 0.8rem;
    transition: transform .3s; /* Animation */

 }
 .card-back-buttons i:hover{
  transform: scale(1.4);

 }

 .card-back-buttons {

  transition: all 1.2s ease;
}
 
 .card-container:hover .card {
   transform: rotateY(180deg);
 }
 .back {
   transform: rotateY(180deg);
 }
 









#achieve-sec{
  background-color: orange;
}

#achieve-heading-text{
  margin: 1rem 0 0 3rem;
 font-size: 6vw;
 font-weight: bolder;
 position: absolute;
 top:-380px;

}










#experience-sec{
  background-color: lightpink;
}
.fp-slidesNav{
  text-align: center;
}


#experience-sec .slide .card{
  border-radius: 18px;

  width: 1200px;
  height: 600px;
  left:10px;
  top:10px;
  margin-left: 10rem;
  z-index: 1;
  border-color: white;

}

#experience-sec .slide .card-body{
  padding: 3rem 5rem;
}

#experience-sec .slide .links{
  text-align: center;
}
#experience-sec .slide .btn {
  border: 2px solid #46c3db;
  margin: 0.5rem 0.5rem;
  border-radius: 100px;
  background-color: transparent;
  color: #46c3db;
  padding: 8px 13px;
  font-size: 16px;
  cursor: pointer;
}


#experience-sec .slide .background-card {
  border-radius: 18px;
  position: absolute;
  left:-30px;
  top:-30px;
  z-index: 0;
  background: var(--gradient-1);
  border-color: white;
}

#experience-sec .company-logo img{
  margin: 2rem 0rem 2rem 2rem;
  width: 40%;
  filter: drop-shadow( 0 14px 26px rgba(0, 0, 0, 0.04));

}

#experience-sec .mate-logo img{
  margin: 3rem;
  width: 30%;
}

#experience-sec .company-position{
  margin: 3rem;
 

}

#experience-sec .job-text{
  margin: 3rem;
}



#cert-sec{
  width: 100%;
  height: 100%;
  background-color: #ff8a5c;
  font-family: "Raleway", "Poppins";

}



#cert-sec .catalog-sec{
  padding: 3rem;
  margin-top: auto;
  margin-bottom: auto;

}
#cert-sec .catalog-sec .card{
  height: 60px;
  width: 300px;
  font-size: 16px;
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: 1rem;
  transition: transform .3s; /* Animation */

}

#cert-sec .catalog-sec .card:hover{
  transform: scale(1.09);
 
 }



#cert-sec .certificate-sec .card{
  margin: 3rem 2rem 3rem 5rem;
  width: 80%;
}
#cert-sec .certificate-sec img{
  width: 100%;
}







#badges-sec{
  background-color: white;
}

.badges{
  margin: 10rem 5rem 2rem 5rem;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: repeat(2,1fr);
}
.badge-heading p{
  text-align: center;
  font-size: 3vmax;
}

.badges img{
  width: 200px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  box-shadow: 0 14px 26px rgba(0,0,0,0.04);
  transition: transform .3s; /* Animation */


}
.badges img:hover{  
  transform: scale(1.2);

}
.badges #orange-badge{  
  filter: drop-shadow(0 0 0.75rem orangered);
}




































